# 前端依赖与缓存
frontend/node_modules/
frontend/.expo/
frontend/android/app/build/
frontend/ios/Pods/

# 后端依赖与缓存
backend/__pycache__/
backend/venv/
backend/.env
backend/.idea/

# 编译文件
*.exe
*.dll
*.o

# 操作系统生成文件
.DS_Store
Thumbs.db